#Ignore vscode AI rules
.github\instructions\codacy.instructions.md

# Python
__pycache__/
*.py[cod]
*.so

# Environments
.env
.venv
env/
venv/

# IDEs
.vscode/
.idea/

# Project Output & Logs (STOP TRACKING THESE)
result_moto/
result_test*/
debug_*.txt
*.log
*.xml
*.zip

# Excel temps
~$*.xlsx

# Backups
invoice_generator/config_backup/
invoice_generator/unuse_config/